footer{
    border: solid #ce6868;
    border-width: 1px 0px 0px 0px;
    display: flex;
    height: 110px;
    justify-content: center;
    align-items: center;
    transition: 0.5s cubic-bezier(0.13, 0.43, 0.57, 1);;
}

footer p {
    font-size: 12px;
}