nav{
    position: fixed;
    display: flex;
    /* width: 100%; */
}

nav .horizontal{
    position: fixed;
    margin-left: 80px;
    display: flex;
    background-color: #ffece8;
    width: 95vw;
    height: 80px;
    border: solid #ce6868;
    border-width: 0px 0px 1px 0px;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s cubic-bezier(0.13, 0.43, 0.57, 1);
}

nav .horizontal .replicaTexto{
    font-weight: 400; 
    font-style: italic;
    transition: 0.4s cubic-bezier(0.64, -0.4, 0.4, 1.47);
}
nav .horizontal .replicaTexto:hover{
    letter-spacing: 0.5em;
    transition: 0.4s cubic-bezier(0.64, -0.4, 0.4, 1.47);
}


/* VERTICAL */

.extended{
    width: 300px !important;
    transition: 0.5s ease-in-out;
}

nav .vertical{
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffece8;
    height: 100vh;
    border: solid #ce6868;
    border-width: 0px 1px 0px 0px;
    width: 80px;
    transition: 0.5s cubic-bezier(0.13, 0.43, 0.57, 1);
}

.ApartadosHidden{
    transform: translate(-220px);
    transition: 0.5s cubic-bezier(0.13, 0.43, 0.57, 1);
}

nav .vertical .apartados{
    margin-left: 35px;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    top: -110px;
    transition: 0.5s cubic-bezier(0.13, 0.43, 0.57, 1);
}

.apartado{
    letter-spacing: -1px;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    transform-origin: left center;
    transition: 0.2s ease-in-out;
}

.apartadoContainer:hover{
    cursor: pointer;
}

.apartadoContainer:hover .apartado {
    transform: translate(50px);
    transition: 0.2s ease-in-out;
}

.apartado:before {
    content: "";
    position: absolute;
    top: 13px;
    width: 0%;
    height: 1px;
    background-color: #ce6868;
    transition: 0.2s ease-in-out;
  }
  

  .apartadoContainer:hover .apartado:before {
    width: 10%;
    transform: translate(-50px);
}


nav .vertical .hamburguer{
    width: 30px;
    padding: 29px 25px 29px 25px;
    transition: 0.3s ease-in-out;
}
nav .vertical .hamburguer:hover{
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

nav .vertical .hamburguer .hamLine.top{
    transform-origin: left;
    transform: rotate(45deg);
    transition: 0.3s ease-in-out;
}
nav .vertical .hamburguer .hamLine.bottom{
    transform-origin: left;
    transform: rotate(-45deg);
    transition: 0.3s ease-in-out;
}
nav .vertical .hamburguer .hamLine.middle{
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.hamLine{
    opacity: 1;
    transform: rotate(0deg);
    height: 1px;
    background-color: #ce6868;
    margin-bottom: 10px;
    transition: 0.3s ease-in-out;
}

.hamLine.end{
    margin: 0;
}

nav .vertical .icons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20%;
    align-items: center;
}

nav .vertical .icons .socialIcon{
    width: 30%;
    transition: 0.2s ease-in-out;
}

nav .vertical .icons .socialIcon:hover{
    transform: scale(1.3);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}


.contactButton{
    display: flex;
    width: 11%;
    height: 100%;
    color: #ffece8;
    background-color: #ce6868;
    align-items: center;
    justify-content: center;
    transition: 0.15s ease-in-out;
}

.contactButton:hover{
    cursor: pointer;
    opacity: 0.7;
    transition: 0.15s ease-in-out;
}

.contactButton .text{
    color: #ffece8;
    font-size: 13px;
}